@{
    ViewData["Title"] = "Index";
}

<div class="content-wrapper">
    <div class="col-md-12 grid-margin stretch-card pt-2">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Statistics</li>
                    </ol>
                </nav><br /><br />

                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Employee By City</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div id="chartContainerCity" style="height: 370px; width: 100%;"></div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">AVG (Total Earnings) By Year</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div id="chartContainerYear" style="height: 370px; width: 100%;"></div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>

                


                <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
            </div>
        </div>
    </div>
</div>


<script>
    window.onload = function () {

        var chartCity = new CanvasJS.Chart("chartContainerCity", {
			theme: "light2", // "light1", "light2", "dark1", "dark2"
			exportEnabled: true,
			animationEnabled: true,
			title: {
				text: "",
				fontSize: 21
			},
			data: [{
				type: "pie",
				startAngle: 160,
				toolTipContent: "<b>{label}</b>: {y}%",
				indexLabel: "{label} - {y}%",
				dataPoints: @Html.Raw(ViewBag.DataPointsCity)
			}]
        });
        chartCity.render();

        var chartYear = new CanvasJS.Chart("chartContainerYear", {
			animationEnabled: true,
			theme: "light2", // "light1", "dark1", "dark2"
			exportEnabled: true,
			title: {
				text: ""
			},
			data: [{
				type: "column",
				dataPoints:  @Html.Raw(ViewBag.DataPointsYear)
			}]
		});
		chartYear.render();
    }
</script>

