@{
    ViewData["Title"] = "Index";
}

<div class="content-wrapper">
    <div class="col-md-12 grid-margin stretch-card pt-2">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Statistics</li>
                    </ol>
                </nav><br /><br />

                <div class="card" style="width: 40%;">
                    <div class="card-header">
                        Featured
                    </div>
                        <div id="chartContainerCity" style="height: 370px; width: 100%;"></div>
                </div>

                <div class="card" style="width: 40%;">
                    <div class="card-header">
                        Featured
                    </div>
                        <div id="chartContainerYear" style="height: 370px; width: 100%;"></div>
                </div>



                <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
            </div>
        </div>
    </div>
</div>


<script>
    window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainerCity", {
			theme: "light2", // "light1", "light2", "dark1", "dark2"
			exportEnabled: true,
			animationEnabled: true,
			title: {
				text: "Employee by City",
				fontSize: 21
			},
			data: [{
				type: "pie",
				startAngle: 160,
				toolTipContent: "<b>{label}</b>: {y}%",
				indexLabel: "{label} - {y}%",
				dataPoints: @Html.Raw(ViewBag.DataPointsCity)
			}]
		});
		chart.render();

    }
</script>


<script>
	window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainerYear", {
			animationEnabled: true,
			theme: "light2", // "light1", "dark1", "dark2"
			exportEnabled: true,
			title: {
				text: "AVG (Total Earnings) By Year"
			},
			data: [{
				type: "column",
				dataPoints:  @Html.Raw(ViewBag.DataPointsYear)
			}]
		});
		chart.render();

	}
</script>