@{
    ViewData["Title"] = "Home Page";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
        <br />

        <div class="row">
            <div class="col-md-3">

                <!-- small box -->
                <div class="small-box bg-white">
                    <div class="inner">
                        <h3>@ViewBag.employeesNum</h3>

                        <p>Total Emolpyees</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-user"></i>
                    </div>
                    <a asp-controller="Employee" asp-action="Index" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-md-3">
                <!-- small box -->
                <div class="small-box bg-white">
                    <div class="inner">
                        <h3>@ViewBag.avgHourlyRate</h3>

                        <p>AVG (HourlyRate)</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-hourglass"></i>
                    </div>
                    <a asp-controller="Payment" asp-action="Index" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-md-3">
                <!-- small box -->
                <div class="small-box bg-white">
                    <div class="inner">
                        <h3>@ViewBag.avgOvertimeEarnings</h3>

                        <p>AVG (Overtime Earnings)</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-hourglass"></i>
                    </div>
                    <a asp-controller="Payment" asp-action="Index" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>

    </section>
    
</div>
<!-- /.content-wrapper -->